section.hero {
  @extend .position-relative;
  // @extend .text-center;
  @extend .text-white;

  > img {
    @extend .w-100;
    // visibility: hidden;
  }

  .content {
    @extend .position-absolute;
    @extend .top-0;
    @extend .end-0;
    @extend .bottom-0;
    @extend .start-0;
    @extend .d-flex;
    @extend .justify-content-center;
    @extend .align-items-center;
    @extend .flex-column;

    text-shadow: $hero-text-shadow;

    img {
      filter: drop-shadow($hero-drop-shadow);
    }

    h1 {
      @extend .display-1;
      @extend .text-uppercase;
      margin-top: -1rem;
      margin-bottom: 0;
    }

    span {
      @extend .display-5;
      @extend .text-lowercase;
    }
  }
}
