<section class="hero">
  <%= image_tag "hero.webp" %>
  <div class="content">
    <%= image_tag 'logo.png', width: 160 %>
    <h1>Today I <div class="d-inline text-secondary">Learned.</div></h1>
    <span><%= channel_name %></span>
  </div>
</section>
