<section class="hero">
  <%= image_tag "hero.webp" %>
  <div class="content">
    <%= image_tag 'logo.png', width: 160 %>
    <h1 class="animate__animated animate__fadeIn animate__delay-1s">Today I <div class="d-inline text-secondary animate__animated animate__fadeIn animate__delay-2s">Learned.</div></h1>
    <span class="animate__animated animate__fadeIn animate__slow animate__delay-3s">@Kabisa</span>
  </div>
</section>
