<%= tag.nav(class: "navbar navbar-dark fixed-top", data: { controller: 'navbar', action: "scroll@window->navbar#waterfall", "navbar-waterfall-class": "waterfall" }) do %>
  <div class="container">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag 'logo.png', width: 40 %>
      <span class="fs-4">Today I Learned -</span>
      <span class="fs-5 fw-light">@kabisa</span>
    <% end %>


    <ul class="nav nav-pills">
      <li class="nav-item">
        <%= link_to "Admin", admin_root_path, class: "btn btn-outline-light", data: { turbo: false, 'bs-toggle': :tooltip, 'bs-placement': :bottom }, title: "Restricted  Area" %>
      </li>
    </ul>
  </div>
<% end %>
